.list {
  margin:0 auto;  
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-item {
  min-width: 100px;
  text-align: center;
}
